<?xml version="1.0" encoding="UTF-8"?>
<!--
  Example LOGBACK Configuration File

http://logback.qos.ch/manual/configuration.html

  -->
<configuration>
	<property name="LOG_HOME" value="${CATALINA_HOME}" />  
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender" additivity="true">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender" additivity="true">
    <file>../logs/contract/contract-manage.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${LOG_HOME}/logs/contract/backup/contract-manage_%d{yyyy-MM-dd}.log.old</fileNamePattern>

      <!-- keep 30 days' worth of history -->
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS}-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="error">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>
</configuration>